<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MichaelHarper\CouponUsageCommunicator\Model\DataProvider" type="Magento\SalesRule\Model\Rule\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Magento\SalesRule\Model\ResourceModel\Rule\Collection</argument>
        </arguments>
    </virtualType>

    <type name="MichaelHarper\CouponUsageCommunicator\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="MichaelHarper\CouponUsageCommunicator\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">couponUsageCommunicator</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">MichaelHarper\CouponUsageCommunicator\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="MichaelHarper\CouponUsageCommunicator\Observer\OrderPlaceAfter">
        <arguments>
            <argument name="logger" xsi:type="object">MichaelHarper\CouponUsageCommunicator\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\SalesRule\Model\Rule">
        <plugin name="michaelharper_coupon_usage_communicator_sales_rule_plugin" type="MichaelHarper\CouponUsageCommunicator\Plugin\SalesRulePlugin" />
    </type>
</config>
